#!/bin/sh

cli=/Applications/Karabiner.app/Contents/Library/bin/karabiner

$cli set {{ private_xml.identifer }} 1
/bin/echo -n .
$cli set remap.jis_controlO2kanaeisuu 1
/bin/echo -n .
$cli set remap.pc_application2capslock 1
/bin/echo -n .
$cli set remap.pc_application2escape_capslock 1
/bin/echo -n .
/bin/echo
